absl-py==0.10.0
alabaster==0.7.12
argh==0.26.2
astor==0.8.1
astroid==2.3.3
async_generator==1.10
atomicwrites==1.4.0
attrs==20.2.0
autopep8==1.5.4
babel==2.8.0
backcall==0.2.0
blas==1.0
bleach==3.2.1
brotlipy==0.7.0
bzip2==1.0.8
c-ares==1.16.1
ca-certificates==2021.5.30
cairo==1.14.12
certifi==2021.5.30
cffi==1.14.3
chardet==3.0.4
cloudpickle==1.6.0
cryptography==3.1.1
cudatoolkit==10.1.243
cudnn==7.6.5
cupti==10.1.168
cycler==0.10.0
cytoolz==0.11.0
dask-core==2.30.0
dbus==1.13.18
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
expat==2.2.10
ffmpeg==4.0.2
flake8==3.8.4
fontconfig==2.13.0
freeglut==3.0.0
freetype==2.10.3
fribidi==1.0.10
future==0.18.2
gast==0.4.0
glib==2.56.2
gmp==6.1.2
gnutls==3.5.19
google-pasta==0.2.0
graphite2==1.3.13
graphviz==2.40.1
grpcio==1.31.0
gst-plugins-base==1.14.0
gstreamer==1.14.0
h5py==2.8.0
harfbuzz==1.8.8
hdf5==1.10.2
icu==58.2
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==2.0.0
importlib_metadata==2.0.0
intel-openmp==2020.2
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.16.1
ipython_genutils==0.2.0
isort==5.6.4
itk==5.1.1
itk-core==5.1.1
itk-filtering==5.1.1
itk-io==5.1.1
itk-numerics==5.1.1
itk-registration==5.1.1
itk-segmentation==5.1.1
jasper==2.0.14
jedi==0.17.1
jeepney==0.4.3
jinja2==2.11.2
joblib==0.17.0
jpeg=9b=h024ee3a_2
jsonschema==3.2.0
jupyter_client==6.1.7
jupyter_core==4.6.3
jupyterlab_pygments==0.1.2
keras==2.3.1
keras-applications==1.0.8
keras-metrics==1.1.0
keras-preprocessing==1.1.0
keyring==21.4.0
kiwisolver==1.2.0
lazy-object-proxy==1.5.1
lcms2==2.11
ld_impl_linux-64==2.33.1
libedit==3.1.20191231
libffi==3.3
libgcc-ng==9.1.0
libgfortran==3.0.0
libgfortran-ng==7.3.0
libglu==9.0.0
libgpuarray==0.7.6
libiconv==1.16
libopencv==3.4.2
libpng==1.6.37
libprotobuf==3.13.0
libsodium==1.0.18
libspatialindex==1.9.3
libstdcxx-ng==9.1.0
libtiff==4.1.0
libuuid==1.0.3
libxcb==1.14
libxml2==2.9.10
lz4-c==1.9.2
mako==1.1.3
markdown==3.3.1
markupsafe==1.1.1
matplotlib==3.3.1
matplotlib-base==3.3.1
mccabe==0.6.1
mistune==0.8.4
mkl==2020.2
mkl-service==2.3.0
mkl_fft==1.2.0
mkl_random==1.1.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
ncurses==6.2
nest-asyncio==1.4.1
nettle==3.3
networkx==2.5
numpy==1.19.1
numpy-base==1.19.1
numpydoc==1.1.0
olefile==0.46
opencv==3.4.2
openh264==1.8.0
openssl==1.1.1
packaging==20.4
pandoc==2.11
pandocfilters==1.4.2
pango==1.42.4
parso==0.7.0
pathtools==0.1.2
pcre==8.44
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.0
pip==21.1.2
pixman==0.38.0
pluggy==0.13.1
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
py-opencv==3.4.2
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pydot==1.3.0
pyflakes==2.2.0
pygments==2.7.1
pygpu==0.7.6
pylint==2.3.1
pyopenssl==19.1.0
pyparsing==2.4.7
pyqt==5.9.2
pyrsistent==0.17.3
pysocks==1.7.1
python==3.6.12
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
python_abi==3.6
pytz==2020.1
pywavelets==1.1.1
pyxdg==0.26
pyyaml==5.3.1
pyzmq==19.0.2
qdarkstyle==2.8.1
qt==5.9.7
qtawesome==1.0.1
qtconsole==4.7.7
qtpy==1.9.0
readline==8.0
requests==2.24.0
rope==0.18.0
rtree==0.9.4
scikit-image==0.16.2
scipy==1.5.2
secretstorage==3.1.2
setuptools==50.3.0
sip==4.19.8
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.5
spyder-kernels==1.9.4
sqlite==3.33.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-base==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
testpath==0.4.4
theano==0.9.0
tk==8.6.10
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
ujson==4.0.1
urllib3==1.25.10
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.35.1
wrapt==1.12.1
wurlitzer==2.0.1
xorg-fixesproto==5.0
xorg-inputproto==2.3.2
xorg-kbproto==1.0.7
xorg-libx11==1.6.12
xorg-libxau==1.0.9
xorg-libxext==1.3.4
xorg-libxfixes==5.0.3
xorg-libxi==1.7.10
xorg-xextproto==7.3.0
xorg-xproto==7.0.31
xz==5.2.5
yaml==0.2.5
yapf==0.30.0
zeromq==4.3.3
zipp==3.3.0
zlib==1.2.11
zstd==1.4.5
